* {
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

textarea:focus,
input:focus {
    outline: none;
}

body {
    background-color: #C5E4E7;
}

.logo {
    text-align: center;
    margin-top: 30px;
}

.container {
    background-color: white;
    width: 375px;
    height: 789px;
    border-radius: 25px 25px 0 0;
    margin: auto;
    margin-top: 20px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 17px;
    row-gap: 16px;
}


.block {
    padding: 32px 32px 0 32px;

    &--darkblock {
        background-color: #00474B;
        border-radius: 15px;
        margin: 37px 22px 23px 24px;
        padding-bottom: 1px;
    }

    &--display {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
}

.display {
    grid-row: span 2;
    grid-column: span 1;
    height: 47px;
    font-family: 'Space Mono';
    font-size: 32px;
    font-weight: bold;
    color: #26C2AE;
    text-align: right;
}

.insert {
    background-color: #f3f9fa;
    border-radius: 5px;
    height: 48px;
    display: flex;
    align-items: center;
    flex: 100%;
    padding-left: 17.48px;
    color: #00474B;
    font-family: 'Space Mono';
    font-size: 24px;
    font-weight: bold;

    &--text {
        justify-content: right;
        border: none;
        text-align: right;
        box-sizing: border-box;
        width: 100%;
    }
}

.title {
    font-family: 'Space Mono';
    font-size: 16px;
    font-weight: bold;

    &--grey {
        color: #5E7A7D;
    }

    &--white {
        color: #FFF;
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #00474B;
    border-radius: 5px;
    border: none;
    font-family: 'Space Mono';
    font-weight: bold;
    font-size: 24px;
    height: 48px;

    &__percentage {
        flex: 45%;
    }

    &__reset {
        background-color: #26C2AE;
        color: #00474B;
        width: 281px;
        font-size: 20px;
        margin: 32px 22px 24px 24px;
    }

}

.persontext {
    font-family: 'Space Mono';
    font-size: 13px;
    font-weight: bold;
    color: #7F9D9F;
}